<!-- Role Selector for Demo - Only show if authenticated -->
<ng-container *transloco="let t">
  @if (isAuthenticated()) {
    <div class="mb-6 flex gap-4">
      @for (role of roles; track $index) {
        <button
          class="bg-primary hover:bg-primary/90 focus:ring-primary/50 text-color-foreground h-12 w-full transform rounded px-4 py-2 font-medium shadow-md transition-transform hover:scale-105 focus:ring-4 sm:w-32"
          [class.bg-primary]="
            role === 'guest'
              ? isGuest()
              : role === 'user'
                ? isUser()
                : isAdmin()
          "
          [class.bg-muted]="
            role === 'guest'
              ? !isGuest()
              : role === 'user'
                ? !isUser()
                : !isAdmin()
          "
          [class.text-color-foreground]="
            role === 'guest'
              ? isGuest()
              : role === 'user'
                ? isUser()
                : isAdmin()
          "
          (click)="whatIsMyRole.emit(role)"
        >
          {{
            role === 'guest'
              ? t('users.role-selector.guest')
              : role === 'user'
                ? t('users.role-selector.user')
                : t('users.role-selector.admin')
          }}
        </button>
      }
    </div>
  } @else {
    <!-- Guest view only when not authenticated -->
    <div class="mb-6 flex gap-4">
      @for (role of roles; track $index) {
        <button
          class="text-color-foreground bg-secondary h-12 w-full flex-wrap justify-center rounded px-4 py-2 sm:w-32"
          [class.bg-primary]="isGuest()"
          [disabled]="role !== 'guest' && !isAuthenticated()"
        >
          {{
            role === 'guest'
              ? t('users.role-selector.guest')
              : role === 'user'
                ? t('users.role-selector.user')
                : t('users.role-selector.admin')
          }}
        </button>
      }
    </div>
  }
</ng-container>
