<div
  class="bg-background font-poppins selection:bg-primary selection:text-primary-foreground mx-auto flex h-screen w-full sm:px-8 lg:container"
>
  <div class="bg-card flex h-full flex-1 items-center justify-center bg-cover">
    <div
      class="bg-background flex flex-col items-center justify-center gap-2 rounded-lg p-8 text-center shadow-xs"
    >
      <h1 class="text-color-foreground text-4xl font-bold">Oops!</h1>
      <p class="text-color-muted-foreground text-base">
        <!-- We can't find that page. You can go back to the previous page or go to
        the homepage. -->
        We can't find that page. Perhaps start again from the homepage?
      </p>
      <div class="flex gap-3">
        <!-- <button
          app-button
          (buttonClick)="goBack()"
          impact="light"
          tone="primary"
          shape="rounded"
          size="medium"
          (click)="navigation.navigateBack()"
        >
          Back to Previous Page {{ navigation.getLastUrl() }}
        </button> -->

        <button
          app-button
          (buttonClick)="goToHomePage()"
          impact="bold"
          tone="primary"
          shape="rounded"
          size="medium"
        >
          Homepage
        </button>
      </div>
      <svg-icon
        src="assets/illustrations/404.svg"
        svgClass="w-[300px] h-[300px] text-color-muted-foreground  "
      ></svg-icon>
    </div>
  </div>
</div>
