# Ignore node_modules everywhere
**/node_modules
apps/admin-dashboard-e2e

# Ignore Bun's cache if present
**/.bun

# Ignore logs and temp files
**/*.log
**/tmp
**/dist

# Ignore git and editor files
.git
.gitignore
*.swp
*.swo
*.env
.env.*

# Ignore test and coverage outputs
coverage
**/__tests__
**/*.spec.*
**/*.test.*

# Ignore Docker-related files except this
!Dockerfile
!.dockerignore